openapi: 3.0.0
info:
  title: Student API
  description: Student API using swagger.io by Siddharth Raj
  contact:
    name: Siddharth Raj
    email: siddharth.raj2019@vitbhopal.ac.in
  version: 1.0.0
servers: 
 - url: http://devapi.com
paths:
  /student:
    description: Student Resource
    get:
      description: Operation to fetch all the students
      parameters: 
        - in: query
          name: studentname
          required: true
          schema:
            type: string
            example: Ritik
      responses:
        200:
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/students'
    put:
      description: Updates an existing students
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/student'
      responses:
        201:
          description: Record successfully updated
  /student{id}:
    description: Deletes a student record
    delete:
      parameters: 
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Successfully deletes the record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/student'
  /student{find}:
    description: Get the student based on path parameter
    get:
      parameters: 
        - in: path
          name: find
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success response with path parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/students'
components:
  schemas:
    student:
      type: object
      properties:
        StudentID:
          type: integer
          example: 3
        StudentName:
          type: string
          example: Sid
        Standard:
          type: string
          example: Sixth
        Fees:
          type: integer
          example: 5000
    students:
      type: array
      items:
        properties:
          StudentID:
            type: integer
            example: 3
          StudentName:
            type: string
            example: Shri
          Standard:
            type: string
            example: Tenth
          Fees:
            type: integer
            example: 10000